* {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Sen, sans-serif;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #b8b8b8;
}

*::-webkit-scrollbar-thumb {
  background-color: #969a71;
  border-radius: 4px;
}




/* // background-color: #969A71; */