.AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;

    // padding: 0 18vw;

    width: 100%;
    min-height: 100vh;

    background-color: #d9d9d9;

    box-sizing: border-box;

    .Preview {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 70px;
        width: 1100px;
        height: 700px;

        // background-color: rgba(81, 0, 255, 0.207);

        .PreviewFPart {
            width: 550px;
            height: 80%;
            margin-right: 30px;

            .PreviewFPartTitle {
                line-height: 48px;
                font-size: 50px;
                font-family: Cormorant Garamond;
                font-weight: bold;
                color: #29595E;
            }

            .PreviewFPartTitleDesc {
                margin-top: 20px;

                width: fit-content;

                font-size: 18px;
                font-weight: bold;
                color: #D16783;


            }

            .customLine {
                width: 490px;
                height: 1px;
                background-image: repeating-linear-gradient(to right,
                        #D16783 0 5px,
                        transparent 2px 10px, #D16783 0 5px);
            }

            .PreviewFPartDesc:last-child {
                margin-top: 5px;
            }

            .PreviewFPartDesc {
                margin-top: 15px;
                font-size: 18px;
                color: #2e2e2e;
            }

            .PreviewFPartBtn {
                position: relative;
                cursor: pointer;
                margin-top: 20px;
                padding: 0px 30px;

                width: 300px;
                height: 45px;

                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
                color: white;

                background-color: #29595E;
                transition: .04s ease-in-out;
            }

            .PreviewFPartBtn:hover {

                background-color: rgba(24, 92, 100, 0.829);
            }

            .PreviewFPartBtn:active {
                transform: scale(0.95);

                background-color: rgba(24, 92, 100, 0.829);
            }
        }

        .PreviewSPart {
            display: block;
            width: 500px;
            height: 100%;
            background-color: rgba(255, 0, 0, 0.479);
            flex: 0 0 500px;
            /* ⬅️ фиксирует ширину */
        }
    }
}

@media (max-width: 1350px) {
    .AboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;

        // padding: 0 18vw;

        width: 100%;
        min-height: 100vh;

        background-color: #d9d9d9;

        box-sizing: border-box;

        .Preview {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-top: 70px;
            width: 800px;
            height: 700px;


            // background-color: rgba(81, 0, 255, 0.207);

            .PreviewFPart {
                width: 400px;
                height: 80%;
                margin-right: 30px;

                .PreviewFPartTitle {
                    line-height: 48px;
                    font-size: 50px;
                    font-family: Cormorant Garamond;
                    font-weight: bold;
                    color: #29595E;
                }

                .PreviewFPartTitleDesc {
                    margin-top: 20px;

                    width: fit-content;

                    font-size: 18px;
                    font-weight: bold;
                    color: #D16783;


                }

                .customLine {
                    width: 490px;
                    height: 1px;
                    background-image: repeating-linear-gradient(to right,
                            #D16783 0 5px,
                            transparent 2px 10px, #D16783 0 5px);
                }

                .PreviewFPartDesc:last-child {
                    margin-top: 5px;
                }

                .PreviewFPartDesc {
                    margin-top: 15px;
                    font-size: 18px;
                    color: #2e2e2e;
                }

                .PreviewFPartBtn {
                    position: relative;
                    cursor: pointer;
                    margin-top: 20px;
                    padding: 0px 30px;

                    width: 300px;
                    height: 45px;

                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    color: white;

                    background-color: #29595E;
                    transition: .04s ease-in-out;
                }

                .PreviewFPartBtn:hover {

                    background-color: rgba(24, 92, 100, 0.829);
                }

                .PreviewFPartBtn:active {
                    transform: scale(0.95);

                    background-color: rgba(24, 92, 100, 0.829);
                }
            }

            .PreviewSPart {
                display: block;
                flex: 0 0 400px;
                height: 100%;
                background-color: rgba(55, 0, 255, 0.479);
                /* ⬅️ фиксирует ширину */
            }
        }
    }
}














/* // background-color: #969A71;

29595E

*/