.Example {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 100px;
    width: 1100px;
    height: 600px;

    .ExampleLPart {
        width: 500px;
        height: 100%;
        background-color: rgba(255, 0, 0, 0.479);
    }

    .ExampleRPart {
        width: 500px;

        .ExampleRPartTitle {
            line-height: 48px;
            font-size: 50px;
            font-family: Cormorant Garamond;
            font-weight: bold;
            color: #29595E;
        }

        .ExampleRPartTitleDesc {
            margin-top: 10px;
            font-size: 18px;

            color: #363636;
            line-height: 20px;
            font-weight: bold;
        }

        .ExampleRPartList {
            margin-top: 10px;

            .ExampleRPartListPart {
                margin-top: 5px;
                font-size: 18px;
                font-weight: 200;
                color: #363636;
            }

            .ExampleRPartListPart::marker {
                color: #969A71;
                font-size: 18px;
            }
        }

        .ExampleRPartDesc {
            margin-top: 30px;

            font-size: 18px;

            color: #363636;
            line-height: 20px;
        }

        .ExampleRPartDescFist {
            margin-top: 20px;
        }
    }
}

@media (max-width: 1350px) {
    .Example {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 100px;
        width: 800px;
        height: 700px;

        .ExampleLPart {
            width: 400px;
            height: 100%;
            background-color: rgba(255, 0, 0, 0.479);
        }

        .ExampleRPart {
            width: 350px;

            .ExampleRPartTitle {
                line-height: 44px;
                font-size: 45px;
                font-family: Cormorant Garamond;
                font-weight: bold;
                color: #29595E;
            }

            .ExampleRPartTitleDesc {
                margin-top: 10px;
                font-size: 18px;

                color: #363636;
                line-height: 20px;
                font-weight: bold;
            }

            .ExampleRPartList {
                margin-top: 10px;

                .ExampleRPartListPart {
                    margin-top: 5px;
                    font-size: 17px;
                    font-weight: 200;
                    color: #363636;
                }

                .ExampleRPartListPart::marker {
                    color: #969A71;
                    font-size: 17px;
                }
            }

            .ExampleRPartDesc {
                margin-top: 20px;

                font-size: 17px;

                color: #363636;
                line-height: 20px;
            }

            .ExampleRPartDescFist {
                margin-top: 10px;
            }
        }
    }

}

@media (max-width: 960px) {
    .Example {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        margin-top: 100px;
        width: 90%;
        height: auto;

        .ExampleLPart {
            margin-top: 50px;
            width: 450px;
            height: 600px;
            background-color: rgba(255, 0, 0, 0.479);
        }

        .ExampleRPart {
            width: 90%;

            .ExampleRPartTitle {
                line-height: 44px;
                font-size: 45px;
                font-family: Cormorant Garamond;
                font-weight: bold;
                color: #29595E;
            }

            .ExampleRPartTitleDesc {
                margin-top: 20px;
                font-size: 18px;

                color: #363636;
                line-height: 20px;
                font-weight: bold;
            }

            .ExampleRPartList {
                margin-top: 10px;

                .ExampleRPartListPart {
                    margin-top: 5px;
                    font-size: 17px;
                    font-weight: 200;
                    color: #363636;
                }

                .ExampleRPartListPart::marker {
                    color: #969A71;
                    font-size: 17px;
                }
            }

            .ExampleRPartDesc {
                margin-top: 30px;

                font-size: 17px;

                color: #363636;
                line-height: 20px;
            }

            .ExampleRPartDescFist {
                margin-top: 20px;
            }
        }
    }

}


@media (max-width: 600px) {
    .Example {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        margin-top: 100px;
        width: 90%;
        height: auto;

        .ExampleLPart {
            margin-top: 50px;
            width: 100%;
            height: 500px;
            flex-shrink: 0;
            background-color: rgba(255, 0, 0, 0.479);
        }

        .ExampleRPart {
            width: 90%;

            .ExampleRPartTitle {
                line-height: 44px;
                font-size: 45px;
                font-family: Cormorant Garamond;
                font-weight: bold;
                color: #29595E;
            }

            .ExampleRPartTitleDesc {
                margin-top: 20px;
                font-size: 18px;

                color: #363636;
                line-height: 20px;
                font-weight: bold;
            }

            .ExampleRPartList {
                margin-top: 10px;

                .ExampleRPartListPart {
                    margin-top: 5px;
                    font-size: 17px;
                    font-weight: 200;
                    color: #363636;
                }

                .ExampleRPartListPart::marker {
                    color: #969A71;
                    font-size: 17px;
                }
            }

            .ExampleRPartDesc {
                margin-top: 30px;

                font-size: 17px;

                color: #363636;
                line-height: 20px;
            }

            .ExampleRPartDescFist {
                margin-top: 20px;
            }
        }
    }
}