.Exit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  width: 90%;
  height: auto;

  .ExitTitle {
    margin-top: 20px;

    line-height: 40px;
    font-size: 40px;
    font-family: Cormorant Garamond;
    font-weight: bold;
    text-align: center;
    color: #343434;
  }

  .ExitBtn {
    position: relative;
    cursor: pointer;
    margin-top: 50px;
    padding: 0px 30px;

    width: 300px;
    height: 45px;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: white;

    background-color: #29595e;
    transition: 0.04s ease-in-out;
  }

  .ExitBtn:hover {
    background-color: rgba(24, 92, 100, 0.829);
  }

  .ExitBtn:active {
    transform: scale(0.95);

    background-color: rgba(24, 92, 100, 0.829);
  }
}

@media (max-width: 960px) {
  .Exit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    width: 90%;
    height: auto;

    .ExitTitle {
      margin-top: 20px;

      line-height: 30px;
      font-size: 30px;
      font-family: Cormorant Garamond;
      font-weight: bold;
      text-align: center;
      color: #343434;
    }

    .ExitBtn {
      position: relative;
      cursor: pointer;
      margin-top: 25px;
      padding: 0px 30px;

      width: 100%;
      height: 45px;

      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      color: white;

      background-color: #29595e;
      transition: 0.04s ease-in-out;
    }

    .ExitBtn:hover {
      background-color: rgba(24, 92, 100, 0.829);
    }

    .ExitBtn:active {
      transform: scale(0.95);

      background-color: rgba(24, 92, 100, 0.829);
    }
  }
}
