.Work {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 150px;
    width: 1100px;
    height: auto;

    .WorkTitle {
        margin-top: 20px;

        width: 750px;
        line-height: 40px;
        font-size: 40px;
        font-family: Cormorant Garamond;
        font-weight: bold;
        text-align: center;
        color: #29595e;
    }
    .WorkTitleDesc {
        font-size: 22px;
        color: #363636;
        margin-top: 5px;
    }

    .WorkTypes {
        display: flex;
        justify-content: space-between;

        margin-top: 80px;
        width: 1100px;
        height: fit-content;

        .WorkTypesType {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 333px;

            .WorkTypesIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;

                border-radius: 100%;
                background-color: #d16783;

                img {
                    height: 65%;
                }
            }

            .WorkTypesTitle {
                margin-top: 20px;
                font-size: 20px;
                font-weight: bold;
                color: #d16783;
            }

            .WorkTypesDesc {
                margin-top: 10px;
                text-align: center;
                font-size: 18px;
                color: #363636;
            }
        }
    }

    .WorkDesc {
        margin-top: 100px;

        width: fit-content;

        font-size: 18px;
        font-weight: bold;
        color: #d16783;
    }

    .customLine {
        margin-top: 5px;
        width: 690px;
        height: 1px;
        background-image: repeating-linear-gradient(to right, #d16783 0 5px, transparent 2px 10px, #d16783 0 5px);
    }

    .WorkBtn {
        cursor: pointer;
        margin-top: 30px;
        padding: 0px 30px;

        width: 280px;
        height: 50px;

        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: white;

        background-color: #29595e;
        transition: 0.04s ease-in-out;
    }

    .WorkBtn:hover {
        background-color: rgba(24, 92, 100, 0.829);
    }

    .WorkBtn:active {
        transform: scale(0.95);

        background-color: rgba(24, 92, 100, 0.829);
    }
}



@media (max-width: 1350px) {
    .Work {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 150px;
        width: 90%;
        height: auto;

        .WorkTitle {
            margin-top: 20px;

            width: 750px;
            line-height: 40px;
            font-size: 40px;
            font-family: Cormorant Garamond;
            font-weight: bold;
            text-align: center;
            color: #29595e;
        }

        .WorkTypes {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: fit-content;

            margin-top: 0;

            .WorkTypesType {
                margin-top: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 333px;

                .WorkTypesIcon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    height: 70px;

                    border-radius: 100%;
                    background-color: #d16783;

                    img {
                        height: 45%;
                        filter: invert(100%);
                    }
                }

                .WorkTypesTitle {
                    margin-top: 20px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #d16783;
                }

                .WorkTypesDesc {
                    margin-top: 10px;
                    text-align: center;
                    font-size: 18px;
                    color: #363636;
                }
            }
        }

        .WorkDesc {
            margin-top: 100px;

            width: fit-content;

            font-size: 18px;
            font-weight: bold;
            color: #d16783;
        }

        .customLine {
            margin-top: 5px;
            width: 690px;
            height: 1px;
            background-image: repeating-linear-gradient(to right, #d16783 0 5px, transparent 2px 10px, #d16783 0 5px);
        }

        .WorkBtn {
            cursor: pointer;
            margin-top: 30px;
            padding: 0px 30px;

            width: 280px;
            height: 50px;

            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            color: white;

            background-color: #29595e;
            transition: 0.04s ease-in-out;
        }

        .WorkBtn:hover {
            background-color: rgba(24, 92, 100, 0.829);
        }

        .WorkBtn:active {
            transform: scale(0.95);

            background-color: rgba(24, 92, 100, 0.829);
        }
    }
}

@media (max-width: 960px) {
    .Work {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 150px;
        width: 90%;
        height: auto;

        .WorkTitle {
            margin-top: 20px;

            width: 90%;
            line-height: 40px;
            font-size: 35px;
            font-family: Cormorant Garamond;
            font-weight: bold;
            text-align: center;
            color: #29595e;
        }

        .WorkTypes {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: fit-content;

            margin-top: 0;

            .WorkTypesType {
                margin-top: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 100%;
                max-width: 333px;

                .WorkTypesIcon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    height: 70px;

                    border-radius: 100%;
                    background-color: #d16783;

                    img {
                        height: 45%;
                        filter: invert(100%);
                    }
                }

                .WorkTypesTitle {
                    margin-top: 20px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #d16783;
                }

                .WorkTypesDesc {
                    margin-top: 10px;
                    text-align: center;
                    font-size: 18px;
                    color: #363636;
                }
            }
        }

        .WorkDesc {
            text-align: center;
            margin-top: 100px;

            width: fit-content;

            font-size: 18px;
            font-weight: bold;
            color: #d16783;
        }

        .customLine {
            display: none;
            margin-top: 5px;
            width: 90%;
            height: 1px;
            background-image: repeating-linear-gradient(to right, #d16783 0 5px, transparent 2px 10px, #d16783 0 5px);
        }

        .WorkBtn {
            cursor: pointer;
            margin-top: 30px;
            padding: 0px 30px;

            width: 100%;
            height: 50px;

            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            color: white;

            background-color: #29595e;
            transition: 0.04s ease-in-out;
        }

        .WorkBtn:hover {
            background-color: rgba(24, 92, 100, 0.829);
        }

        .WorkBtn:active {
            transform: scale(0.95);

            background-color: rgba(24, 92, 100, 0.829);
        }
    }
}
